/* CSS declarations go here */

.markdown-content {
    background-color: rgba(0, 195, 253, 0.09);
    padding:10px;
}

.markdown-content img {
    max-height: 400px;
    margin: auto 0;
}

.comment {
    border:3px solid black;
    margin-bottom: 5px;
}

.ext-definition {
    background-color: #00cc66;
}